.animal {
  width: 100%;
  max-width: 1400px;
  margin: 5%;
  flex-direction: row;
  
}

.animal-newanimal {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5%;
  width: 85vw;
  margin-bottom: 2.5%;
}

.animal-updateanimal {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.5%;
  width: 85vw;
  margin-bottom: 2.5%;
}
.input-petname {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-customername {
  display: flex;
  align-items: center;
  gap: 10px;
}
.animal-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1.5rem;
}
.reset-btn {
  background-color: black;
  color: yellow;
}
h2 {
  color: #b771ff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

  
.list {
  margin-top: 1.5rem;
}

.list div {
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #4d4c7d32;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list div span {
  cursor: pointer;
}

.list div span:hover {
  color: #76ABAE;
}

.table-container {
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dddddd75;
}

table th {
  background-color: #36306237;
  color: #363062e3;
}
